:root {
    --yellow: #ffcc00;
    --blue: #3d7dca;
    --dark-blue: #003153;
    --header-red: #cc0000;
    --para-red: #ff0000;
}

body {
    background-color: #b3a125;
}

.header {
    padding: 10px;
}

.header p {
    font-size: 18px;
}

h1,
p {
    color: var(--header-red);
}